
* {
    margin: 0;
    padding: 0;
}

/* Shared style */

body {
    background: #F6F8FF;
}

.heading-color {
    color: #252432;
}

.paragraph-color {
    color: #8C8E98;
}
.btn-top{
    margin: 10px 10px 10px 1500px;
     justify-content: space-around;
   background-color: #4E47FF;
  font-weight: 60px;
  font-size: 20px;
  color:white;
  padding: 18px 35px 19px 43px;
  border-radius: 15px;
  border-color: #4E47FF;
  border:none 
}
.main-button {
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border: none;
    width: fit-content;
}

.main-button:hover {
    background-color: #F0C40F;
}


.second-heading-style {
    font-weight: 700;
    font-size: 42px;
    color: #252432;
}

/* Nav style */

nav {
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;

}

.logo {
    width: 150px;
    
}

/* banner-style */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 698px;
    margin-top: -180px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-child {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-heading {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    width: 905px;
    padding-top: 150px;
}
.webflow-conf {
    width: 1140px;
    margin: 0 auto;
    padding: 100px 100px;
}

.webflow-conf-main {
    display: flex;
    ;
    justify-content: space-between;
    align-items: center;
}

.webflow-conf-p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    width: 517px;
    padding: 20px 0px 20px 0;
}

.webflow-conf-img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}