
* {
    margin: 0;
    padding: 0;
}

/* Shared style */

body {
    background: #F6F8FF;
}

.heading-color {
    color: #252432;
}

.paragraph-color {
    color: #8C8E98;
}

.btn-top{
     margin: 10px 10px 10px 1600px;
     justify-content: space-around;
   background-color: #4E47FF;
  font-weight: 60px;
  font-size: 20px;
  color:white;
  padding: 18px 35px 19px 43px;
  border-radius: 15px;
  border-color: #4E47FF;
  border:none 
  
    
     
}
  

.btn-top:hover{
    background-color: #F0C40F;
    cursor: pointer;
  transition: background-color 0.5s ease;

}
 .btn-right{
    padding: 12px 36px 12px 36px;

 }
.main-button {
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
    background-color: #4E47FF;
    border: none;
    width: fit-content;
}

.main-button:hover {
    background-color: #F0C40F;
    cursor: pointer;
    transition: background-color 0.5s ease;
}


.second-heading-style {
    font-weight: 700;
    font-size: 42px;
    color: #252432;
}

/* Nav style */

nav {
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;

}

.logo {
    width: 150px;
    
}

/* banner-style */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 698px;
    margin-top: -230px;
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-child {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-heading {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    width: 905px;
    padding-top: 150px;
}
.webflow-conf {
    width: 1140px;
    margin: 0 auto;
    padding: 100px 100px;
}

.webflow-conf-main {
    display: flex;
    ;
    justify-content: space-between;
    align-items: center;
}

.webflow-conf-p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    width: 517px;
    padding: 20px 0px 20px 0;
}

.webflow-conf-img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
.users-section-title {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
}

.users-container {
    width: 1140px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
}

.users-box {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    margin-top: 30px;
}

.box-title {
    font-family: inter;
    font-weight: 700;
    font-size: 80px;
    color: #3E5DFE;
}
.box-paragraph {
    font-weight: 400;
    font-size: 20px;
}

.review {
    text-align: center;
    padding: 130px 0 100px 0;
}

.review-container {
    width: 1140px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
}

.review-box {
    text-align: left;
    background: white;
    border: 1px solid #f2eded;
    border-radius: 14px;
    padding: 24px;
    width: 366px;
    /* height: 243px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    color: #1e1e1e;
}

.review-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: #1e1e1e;
}

.review-child-box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.review-child-box h3 {
    font-weight: 600;
    font-size: 16px;
    color: #757575;
    padding-bottom: 6px;
}

.review-child-box p {
    font-weight: 400;
    font-size: 16px;
    color: #b3b3b3;
}

.review-child-box img {
    width: 40px;
    height: 40px;
    border-radius: 99px;
}

.promotion {
  background: white;
  border-radius: 16px;
  /* padding: 40px; */
  padding: 60px 0 60px 0;
  width: 1140px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}

.btn {
  background-color: #5d5fef;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 30px;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #111;
}

.content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.image img {
  max-width: 100%;
  border-radius: 32px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1140px; */
    width: 1140px;
    padding: 150px 0 80px 0;
    gap: 140px;
    margin: 0 auto;
}

.contact-text {
    font-size: 93px;
    font-weight: bold;
    color: #000;
    line-height: 1.2;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label {
    font-size: 14px;
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    width: 94%;
    padding: 12px 16px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    background-color: #4f46e5;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: #F0C40F;
}

.footer {
    text-align: center;
    padding: 110px 0 20px 0;
    background-color: #fafafa;
    
}

.footer-logo-i {
    font-size: 50px;
    font-weight: 500px;
    margin: auto;
    margin: 0px 300px 0px 920px;
    width: 500px;
    text-align: right;
    padding-bottom: 20px;
    color: #3E5DFE;
}

.footer-text {
    color: #676788;
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 20px auto;
    line-height: 24px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0px 520px 3px 715px;
}

.footer-nav a {
    color: #7a7a9d;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #4f46e5;

}
